<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <br>
    <nav>
        <a href="/notes">
            <lord-icon
                src="https://cdn.lordicon.com/kipaqhoz.json"
                trigger="morph"
                colors="primary:#ffffff"
                state="morph"
                style="width:60px;height:60px">
            </lord-icon>
        </a>
        <a href="/notes/new">
            <lord-icon
                src="https://cdn.lordicon.com/iiixgoqp.json"
                trigger="hover"
                colors="primary:#ffffff"
                state="hover-1"
                style="width:60px;height:60px">
        </lord-icon>
        </a>
        <a href="#">
            <lord-icon
                src="https://cdn.lordicon.com/gigfpovs.json"
                trigger="hover"
                colors="primary:#ffffff"
                state="hover-1"
                style="width:60px;height:60px">
            </lord-icon>
        </a>
        <a href="#">
            <lord-icon
                src="https://cdn.lordicon.com/amascaoj.json"
                trigger="hover"
                colors="primary:#ffffff"
                state="hover-2"
                style="width: 60px;height:60px">
            </lord-icon>
        </a>
        <a href="/logout" class="logout"> Log Out </a>
    </nav>
    <br><br>