<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
</head>
<body>
<!-- Landing Page -->

<% if (user) { %>
    <!-- redirect to dashboard -->
<% } else { %>
    <a href="/auth/google" class="login">Log in to get started! </a>
<% } %>
<%- include('./partials/footer') %>