<%- include('../partials/header') %>
<!-- Template for new notes -->
<section class="notes_form">
  <form action="/notes" method="POST">
    <label>
      <input type="text" name="title" placeholder="Header" class="new_note_header">
    </label>
    <br>
    <label>
      <textarea 
        type="text" 
        name="content" 
        autocomplete="off" 
        rows="10"
        cols="10"
        placeholder="Your interesting thoughts here..." 
        wrap="soft">
    </textarea>
    </label>
    <br>
    <div class="button-container">
      <button type="submit">Save Note</button>
    </div>
  </form>

  <form action="/notes/?_method=GET">
    <div class="button-container">
      <button type="submit">Delete</button>
    </div>
  </form>

</section>
<%- include('../partials/footer') %>