<%- include('../partials/header') %>
<!-- Template for new notes -->
<form action="/notes" method="POST">
  <label>
    <input type="text" name="title" placeholder="Header" class="new_note_header">
  </label>
  <br>
  <label>
    <input type="text" name="content" placeholder="Your interesting thoughts here" class="new_note_content">
  </label>
  <br>
  <button type="submit">Save Note</button>
</form>

<form action="/notes/?_method=GET">
  <button type="submit">Delete</button>
</form>


<%- include('../partials/footer') %>